<!-- app-hero.component.html -->
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-image-wrapper">
                <img class="hero-image" src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/london-food-and-drink-photography-the-cheese-barge-paddington-menu-london-2021-nic-crilly-hargrave-63.jpg?w=1600&h=900" />
            </div>
            <div class="hero-headline">
                <h1 class="hero-title">
                    Want to Feel the best <span> RESTURANT</span>
                </h1>
                <p class="hero-text">
                    Empower your dining choices with personalized insights! Our restaurant review web app transforms experiences by
                    aggregating diverse user opinions, helping you discover the best dining spots through authentic and varied perspectives.
                </p>
                <div class="hero-buttons">
                    <button class="button button-dark">Get Started</button>
                    <button class="button button-light">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>